.genshin-bg {
  background-image: url("/genshin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade 5s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
